@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
}

/* Nav section */

.navbar-nav .nav-link {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-image {
    width: 115px;
    cursor: pointer;
}

.navbar {
    padding: 4px 8px;
    background-color: rgb(56, 56, 56);
    justify-content: space-evenly;
}

nav ul li {
    padding: 5px 20px;
}

nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #14bedc !important;
    transition: all 0.5s ease;
}

/* Carousel Section */

.carousel-item {
    height: 95vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 85px;
    font-weight: 600;
}

.slider-btn {
    margin-top: 35px;
}

.slider-btn .btn {
    background-color: #14bedc;
    color: #fff;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
}
