*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%;
  background: rgb(0, 0, 0, 0.3);
  /* background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%;  */
}
@keyframes slide {
  0% {transform: translateX(25px); }  
  100% {transform: translateX(10px); } 
}
#arrow-container{
  animation: slide 2s linear -2s infinite;
}
.arrow{
  width: 30px;
  height: 30px;
  border-top: 3px solid red;
  border-left: 3px solid black;
  transform: rotate(-45deg);
}
.container{
  position: absolute; 
  top: 30%; 
  left: 30%;
}
.joke-item{
  background: #fff;
  width: 50%;
  height: 50%;
  box-shadow:
       inset 0 -1.0em 3em rgba(0,0,0,0.2),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
 
}
@keyframes up {
  0% {transform: translateY(25px); }  
  100% {transform: translateY(10px); } 
}
#laugh-emoji{
  width: 100px;
  height: 100px;
  float: left;
  animation: up 1s linear -2s infinite;
}
#laugh-emoji img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
h3{
  opacity: 0.5;
}
#joke-text{
  margin: auto;
}
button {
  background-color: rgb(0, 113, 197, 0.7);
  border-radius: 40px;
  border-style: none;
  box-shadow: rgb(0, 113, 197) 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: all .5s ease-in-out;
}

button:hover {
  background-color: rgb(0, 113, 197, 0.7);
  box-shadow: rgb(0, 113, 197) 0 -6px 8px inset;
  transform: scale(1.05);
}

button:active {
  transform: scale(1.025);
}
@media screen and (max-width: 576px) {
  @keyframes up {
    0% {transform: translateY(15px); }  
    100% {transform: translateY(5px); } 
  }
  #laugh-emoji{
    width: 50px;
    height: 50px;
    float: left;
    animation: up 1s linear -2s infinite;
  }
  #laugh-emoji img{
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px) {
  @keyframes up {
    0% {transform: translateY(15px); }  
    100% {transform: translateY(5px); } 
  }
  #laugh-emoji{
    width: 75px;
    height: 75px;
    float: left;
    animation: up 1s linear -2s infinite;
  }
  #laugh-emoji img{
    width: 75px;
    height: 75px;
    object-fit: cover;
  }
}