*{
  box-sizing: border-box;
}
body{
  
}
#arrow-container{
  animation: slide 4s linear -2s infinite;
}
.arrow{
  width: 50px;
  height: 50px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(-45deg);
}
@keyframes slide {
  0% {opacity:0.2; transform: translateX(3vw); }  
  100% {opacity:1; transform: translateX(0vw); } 
}
.row{
  height:100vh;
}
.joke-item{
  width: 50%;
  height: 40%;
  box-shadow:
       inset 0 -1.0em 3em rgba(0,0,0,0.2),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
 
}
h3{
  opacity: 0.5;
}
#joke-text{
  margin: auto;
  width: 90%;
  height: 40%;
}
button {
  background-color: rgb(0, 113, 197, 0.7);
  border-radius: 40px;
  border-style: none;
  box-shadow: rgb(0, 113, 197) 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  transition: all .5s ease-in-out;
}

button:hover {
  background-color: rgb(0, 113, 197, 0.7);
  box-shadow: rgb(0, 113, 197) 0 -6px 8px inset;
  transform: scale(1.05);
}

button:active {
  transform: scale(1.025);
}
