*{
  box-sizing: border-box;
}
body{
  
}
.row{
  height:100vh;
}
.joke-item{
  width: 50%;
  height: 40%;
  padding: 20px;
  box-shadow:
       inset 0 -1.5em 3em rgba(0,0,0,0.2),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
 
}