body {
  background-image: url("../images/med-background1.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
}

p {
  color: white;
}

.circle-outer {
  border:2px solid;
  width:300px;
  height:300px;
}

.circle-inner {
  border:2px solid;
  width:200px;
  height:200px;
}
