body {
  background-image: url("../images/med-background1.jpg");
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: auto;
}

.main-container {
  position: relative;
  transform: scale(1);
}

p {
  color: white;
  position: absolute;
  left: 22vh;
  top:22vh;
}

.pointer-ball {
  background-color: rgba(255,255,255,0.9);
  width: 4.4vh;
  height: 4.4vh;
  position: absolute;
  top:26vh;
}

.circle-inner {
  background-color: rgba(1,15,28);
  width: 50vh;
  height: 50vh;
  position: absolute;
  top: 35vh;
}
.circle-outer {
  background-color: rgba(1,15,28,0.5);
  width: 56vh;
  height: 56vh;
  position: absolute;
  top: 32vh;

  background: conic-gradient(
    rgb(74,152,176) 0%,
    rgb(74,152,176) 40%,
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 60%,
    rgb(3,127,146) 60%,
    rgb(3,127,146) 100%,
    rgb(239,200,202,0) 100%
  );
}

@@keyframes rotate-pointer-ball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.main-container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
