@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
}

/* Nav section */

.navbar-nav .nav-link {
    margin-right: 20px;
    margin-left: 20px;
}

.nav-image {
    width: 115px;
    cursor: pointer;
}

.navbar {
    padding: 4px 8px;
    background-color: rgb(56, 56, 56);
    justify-content: space-evenly;
}

nav ul li {
    padding: 5px 20px;
}

nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #14bedc !important;
    transition: all 0.5s ease;
}

/* H2 Heading Tag */

.page-header {
    margin-top: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
}

.main-text {
    color: #14bedc;
}

/* Carousel Section */

.slider-area {
    background: #262626;
    padding: 50px 0;
    position: relative;
    margin: 65px 0;
}

.carousel-control-prev,
.carousel-control-next {
    background: transparent;
}

#carousel-1,
#carousel-2,
#carousel-3,
#carousel-4 {
    height: 50vh !important;
}

.img-area {
    width: 100px;
    height: 100px !important;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.img-area img {
    width: 100%;
}

#carousel-caption,
#carousel-caption1,
#carousel-caption2,
#carousel-caption3 {
    position: static;
    padding-bottom: 15px;
    padding-top: 0;
}

/* Carousel h3 styling */

#carousel-caption h3 {
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 25px;
    color: yellow;
}

#carousel-caption1 h3 {
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 25px;
    color: yellow;
}

#carousel-caption2 h3 {
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 25px;
    color: yellow;
}

#carousel-caption3 h3 {
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 25px;
    color: yellow;
}

/* Carousel paragraphs styling */

#carousel-caption p {
    font-size: 18px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}

#carousel-caption1 p {
    font-size: 18px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}

#carousel-caption2 p {
    font-size: 18px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}

#carousel-caption3 p {
    font-size: 18px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}

/* About Us Section */

.card {
    height: 100%;
    width: 100%;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}


/* Footer Section */

.new_footer_area {
    background: #dbf8ff;
}


.new_footer_top {
    padding: 80px 0px 260px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #14bedc;
}

.btn_get:hover {
    color: #fff;
    background: #14bedc;
    border-color: #14bedc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #14bedc;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #14bedc;
    border-color: #14bedc;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4b505e;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

/* Scroll Section */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /* background-color: #14bedc; */
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}
